.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.additemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font: var(--font-Bold20);
  color: var(--secondary-800);
}
