.addbutton {
  width: 74px;
  height: 42px;
  font: var(--font-Semibold16);
  color: var(--secondary-100);
  background-color: var(--primary-100);
  border-radius: 8px;
  border: none;
}

.addbutton:disabled {
  background-color: var(--secondary-400);
}
