.allList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1200px;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}
.title {
  color: var(--secondary-900);
  font: var(--font-Bold20);
}
.list {
  list-style: none;
}
